.about {
  color: red;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  &_card {
    padding: 1rem;
  }
  p {
    max-width: 500px;
    line-height: 1.8;
  }
  a {
    text-decoration: none;
    color: rgba(117, 13, 48, 0.911);
  }
}
