.City {
  padding: 2rem;
  h1 {
    color: rgb(27, 25, 25);
    margin-bottom: 2rem;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    max-width: 300px;
    margin-bottom: 2rem;
    li {
      padding: 0.5rem;
      display: flex;
      justify-content: space-between;
    }
  }
}
