html {
  background: rgb(228, 236, 236);
  background: linear-gradient(
    63deg,
    rgba(228, 236, 236, 1) 0%,
    rgba(221, 251, 255, 1) 100%
  );
}

.alert {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}
