.Card {
  width: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: auto;
}
