.Home {
  color: #7f7270;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .umbrella {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: auto;
    max-width: 300px;
    @media screen and (max-width: 768px) {
      z-index: 0;
    }
  }
}
