.Card {
  width: 550px;
  background: rgb(218, 166, 228);
  background: linear-gradient(
    63deg,
    rgba(218, 166, 228, 1) 0%,
    rgba(173, 31, 95, 1) 100%
  );
  @media screen and (max-width: 768px) {
    max-width: 300px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      border-bottom: 1px solid lightslategray;
    }
  }
}
